.wrapper {
  background-image: url("../../assets/images/battlebackground.jpeg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.webcamWrapper {
  padding-left: 20px;
  text-align: center;
  font-size: 35px;
}
