.gameBoyWrapper {
  background-color: #f48c06;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 600px;
  min-width: 600px;
  max-width: 600px;
  height: 750px;
  border-radius: 18px;
  box-shadow:
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.gameBoyHead {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: #222;
  margin: auto 15px;
  margin-top: 25px;
  border-radius: 14px;
}

.power {
  position: absolute;
  color: #5d5d5d;
  font-size: 8px;
  font-weight: 600;
  font-family: arial;
  top: 80px;
  left: 30px;
  padding-left: 6px;
}

.power p {
  padding-left: 2px;
}

.ledButton {
  color: #5d5d5d;
  animation: led 1s infinite;
}

@keyframes led {
  50% {
    color: #cc2816;
    text-shadow: 0px 0px 10px #960000;
  }
  100% {
    color: #5d5d5d;
    text-shadow: none;
  }
}

.gameBoardWrapper {
  background: #2c2f2a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 700px;
}

.gameBoyMark {
  position: absolute;
  top: -68px;
  color: #5d5d5d;
  font-style: italic;
  font-weight:  900;
  font-family: arial;
  font-size: 30px;
}

.gameBoyMark span {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1px;
  background: #b20a3f;
  background: linear-gradient(90deg, #b20a3f 0%, #4c49a3 25%, #6bab21 50%, #d3a706 75%, #008e86 100%);
  background-size: 200% auto;
  font-size: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
