.wrapper {
  background-image: url("../../assets/images/battlebackground.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.rankingWrapper {
  background-color: #3d5a80;
  width: 100%;
  height: 100%;
}

.rankingTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  color: #FFFFFF;
  font-size: 50px;
}

.user {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 40px;
  color: #FFFFFF;
  opacity: 0.8;
}

.rank {
  display: flex;
  justify-content: center;
}

.userName {
  display: flex;
  justify-content: center;
}

.score {
  display: flex;
  justify-content: center;
}
