.wrapper {
  background-color: gray;
  width: 30vw;
  margin: 20px;
  border-radius: 4px;
  z-index: 2;
}

.textList {
  list-style: none;
  padding: 0px;
}

.userText {
  background: #fcfcfc;
  color: #000;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
  padding: 5px;
  text-align: center;
}

.partnerText {
  background: #fcfcfc;
  color: #000;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
  padding: 5px;
  text-align: center;
}

.userBubble {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-left: auto;
}

.partnerBubble {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: auto;
}

.bubbleA {
  margin-left: 6px;
  width: calc(100% - 12px);
  height: 2px;
  background: #222;
}

.bubbleB {
  margin-left: 4px;
  width: calc(100% - 12px);
  height: 2px;
  background: #fcfcfc;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.bubbleC {
  margin-left: 2px;
  width: calc(100% - 8px);
  height: 2px;
  background: #fcfcfc;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.userArrow {
  margin-top: -2px;
  margin-left: 110px;
}

.partnerArrow {
  margin-top: -2px;
  margin-left: 30px;
}

.arrowA {
  width: 8px;
  height: 8px;
  background: #fcfcfc;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.arrowB {
  width: 6px;
  height: 2px;
  background: #fcfcfc;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.userArrowC {
  margin-left: 2px;
  width: 6px;
  height: 2px;
  background: #fcfcfc;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.partnerArrowC {
  margin-left: -2px;
  width: 6px;
  height: 2px;
  background: #fcfcfc;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.userArrowD {
  margin-left: 4px;
  width: 8px;
  height: 2px;
  background: #222;
}

.partnerArrowD {
  margin-left: 2px;
  width: 8px;
  height: 2px;
  background: #222;
}

form {
  display: flex;
  justify-content: space-around;
}
