.score {
  background-color: #293241;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 27px;
}

.userScore {
  color: #4CD137;
}

.partnerScore {
  color: #EF476F;
}

.userWrapper {
  margin-bottom: 20px;
}

.count {
  background-color: #293241;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  padding: 20px;
  color: #FFFFFF;
}
